$iefix: 0.01px;
$gutter: 0.5rem;

@mixin grid($grid-number: 1) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: (-$gutter);
  margin-right: (-$gutter);
  margin-top: (-$gutter);

  &:last-child {
    margin-bottom: (-$gutter)
  }

  &:not(:last-child) {
    margin-bottom: calc(1rem - #{$gutter})
  }
  
  & > .col {
    padding: $gutter;
    width: calc(100% / #{$grid-number} - #{$iefix});
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: (-$gutter);
  margin-right: (-$gutter);
  margin-top: (-$gutter);
  &:last-child {
    margin-bottom: (-$gutter)
  }
  &:not(:last-child) {
    margin-bottom: calc(1rem - #{$gutter})
  }
  & > .col {
    align-items: center;
    padding: $gutter;
  }
}

@for $i from 1 through 12 {
  .grid-#{$i} {
    @include grid(#{$i});
  }
}

@include respond-to("small") {
  @for $i from 1 through 3 {
    .medium-#{$i} {
      & > .col {
        max-width: calc(100% / #{$i} - #{$iefix});
        flex: 0 0 calc(100% / #{$i} - #{$iefix});
      }
    }
  }
}

@include respond-to("xsmall") {
  @for $i from 1 through 3 {
    .small-#{$i} {
      .col {
        max-width: calc(100% / #{$i} - #{$iefix});
        flex: 0 0 calc(100% / #{$i} - #{$iefix});
      }
    }
  }
}

@include respond-to("xsmall-up") {
  @each $flow, $divider in ("is-full" "1"), ("is-1-2" "2"), ("is-1-3" "3"), ("is-1-4" "4"), ("is-1-5" "5"), ("is-1-6" "6"), ("is-1-8" "8"), ("is-2-3" "3 * 2"), ("is-3-4" "4 * 3"), ("is-5-6" "6 * 5") {
    .#{$flow} {
      flex: 0 0 calc(100% / #{$divider} - #{$iefix});
      max-width: calc(100% / #{$divider} - #{$iefix});// !important;
    }
  }
}

// Grid offsets
.push {
  margin-left: auto !important;
}

.pull {
  margin-right: auto !important;
}

.middle {
  align-items: center;
}

.col.right {
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}

.col.left {
  justify-content: flex-start;
  align-self: flex-start;
  margin-right: auto;
}

.top {
  align-items: flex-start;
}

.bottom {
  align-items: flex-end;
}
