$card-border : 1px solid $border;

.card {
    border: $card-border;
    border-radius:$global-radius;
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
    background-color: $white;
    height: 100%;
    background-image: linear-gradient($white, $whitesmoke);
    max-width: 100%;
    position: relative;

    .invert {
      box-shadow: 0 -2px -3px rgba($black, 0.1), 0 0 0 -1px rgba($black, 0.1);
      background-image: linear-gradient($whitesmoke, $white);
      margin: $margin;
    }

    .card-header {
      display: flex;
      flex-grow: 1;
      align-items: stretch;
      border-bottom: $card-border;
    }

    .card-header-title {
      align-items: center;
      display: flex;
      // font-size: 110%;
      font-weight: bold;
      flex-grow: 1;
      padding: $padding;
      justify-content: center;
      cursor: pointer;
    }

    .card-content {
      padding: $padding;
      flex-grow: 2;
    }

    .card-footer {
      flex-grow: 1;
      border-top: $card-border;
      display: flex;
      align-items: stretch;
    }

    .card-footer-item {
      align-items: center;
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: center;
      padding: $padding;
      &:not(:last-child) {
        border-right: $card-border;
      }
    }

    img {
      max-width: 100px;
    }
  }