@charset "utf-8";



// @import "bulma_material/variables";

@import "settings";
@import "myBulma";
// @import '~bulma-calendar';
@import '~bulma-checkradio';
@import '~bulma-tooltip';
@import 'tables';
// @import "bulma_material/overrides";
// @import 'ext/myform';
// @import "my";

 /* .bottom-null {
    margin-bottom: 0 !important; 
    padding-bottom: 0 !important;
  } */

/* @include desktop {
  .field-label {
    flex-basis: auto;
    margin-right: 0.5em;
    flex-grow: 0;
  }
} */

@include tablet {
  .field-label {
    flex-basis: auto;
    margin-right: 0.5em;
    flex-grow: 0;
  }
}
html {
  font-size: 14px;
}
@include desktop {
  html {
    font-size: 16px;
  }
  body {
    // line-height: 1.4;
  }
}

.card-header {
  background-color: $card-header-background-color;
  box-shadow: none;
}

.card-content.is-small-padding {
  padding: 0.75rem;
}

.modal-card-foot {
  justify-content: flex-end;
}

.box:not(:last-child) {
  margin-bottom: 0.75rem;
}

.is-normal {
  .is-checkradio[type="radio"] + label,
  .is-checkradio[type="checkbox"] + label {
    vertical-align: top;
    margin-left: 0;
  }
}

.is-checkradio[type="radio"] + label::before, 
.is-checkradio[type="checkbox"] + label::before {
  background-color: $white;
}

.table thead {
  background-color: darken($body-background-color, 10%);
}

// for file input in buttons container
.buttons {
  .file:not(:last-child) {
    margin-right: 0.5rem;
  }
  .file {
    margin-bottom: 0.5rem;
  }
  &.has-addons {
    .file:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      margin-right: -1px;
    }
    .file:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
