@charset 'utf-8';

@import 'settings';

table {
  border-spacing:0;

  td, th{
    font-size: $medium-font-size;
    padding: 0.1rem 0.2rem;
  }
  td {
    background-color: $white;
  }
  tr:nth-child(2n-1) td {
    background-color: $whitesmoke;
  }
  th{
    background-color: $lighter-grey;
  }

  th span {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid $medium-grey;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: 0.5s;
  }

  th.active span.dsc {
    border-top: 6px solid $primary-color;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }

  th.active span.asc {
    border-top: 6px solid $primary-color;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: rotate(180deg);
  }

  &.rounded {
    border-collapse: separate;
    border: 1px solid $lighter-grey;
    border-radius: $global-radius;
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);

    thead th:first-child {
      border-radius: $global-radius 0 0 0;
    }

    thead th:last-child {
      border-radius: 0 $global-radius 0 0;
    }

    tbody tr:last-child td:first-child {
      border-radius: 0 0 0 $global-radius;
    }
    tbody tr:last-child td:last-child {
      border-radius: 0 0 $global-radius 0;
    }
  }

  &.borderless {
  border: none;

  tr td {
    border-left: 0;
  }
}
}

@media screen and (min-width: 600px) {
  table thead {
    display: table-header-group;
    // display: none;
  }
  /* table tbody td { 
    display: block;
    padding: .5rem;
    text-align: left;
  } */
  table tbody tr td:first-child { 
    background: #666;
    color: #fff; 
  }
	table tbody td:before { 
    content: attr(data-th)': '; 
    font-weight: bold;
    display: inline-block;
    width: 11rem;  
  }
}
