@charset 'utf-8';

@import 'settings';
@import 'mixins';

.modal-overlay {
  // display: none; /* Hidden by default */
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: $black; /* Fallback color */
  background-color: rgba($black, 0.8);
  transition: opacity 0.4s ease;
}

.modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 20;
}

.modal-content {
  background-color: $white;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  // padding: 1rem;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  width: 100%;
  transition: all .4s ease;
}

@include respond-to("small-up") {
  .modal-content {
    border-radius: $global-radius;
    margin: 5% auto;
    max-height: calc(100vh - 150px);
    width: 70%;
  }
}

.modal-body {
  -webkit-overflow-scrolling: touch;
  background-color: $white;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 1rem;
}

.modal-footer {
  align-items: end;
}

.modal-header {
  align-items: center;
}

.modal-header, .modal-footer {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  // position: relative;
  padding: 1rem;
}

.modal-header {
  h4 {
    margin-bottom: 0;
  }
  & > * {
    width: 100%;
  }
}

.modal-footer {
  & > button:first-child {
  margin-left: auto;
  }

  & > button:not(:last-child) {
    margin-right: 10px;
  }
}

.modal-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: $medium-grey;
  color: $white;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height:3rem;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;

  &::hover{
    background-color: $light-grey;
    color: $white;
  }
}

.modal .medium {
  width: 55%;
}

.modal .large {
  // width: 70%;
}

.modal .small {
  width: 40%;
}

.modal-enter-active, .modal-leave-active {
  transition: opacity .5s
}
.modal-enter, .modal-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
